* {
  margin: 0;
}
nav {
  background-color: rgba(166, 241, 213, 0.6);
  height: 14vh;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-top: 2%;
  }
}

a {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  text-decoration: none;
}

.logo {
  width: 4%;
  margin-top: 4px;
  margin-left: 4px;
  display: inline-block;
}
