<!-- <header>
  <nav>
    <a routerLink="login">Connectez-vous</a>

    <ul>
      <img
        src="https://images.unsplash.com/photo-1494403687614-8ca3e13f154f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
        alt="photo"
        class="logo"
      />
      <li>Liste des utilisateurs</li>
      <li>Page 1</li>
      <li>Page 1</li>
    </ul>
  </nav>
</header> -->

<header>
  <nav id="cssmenu">
    <ul>
      <!-- <li><img src="../../assets/logo.png" alt="logo" class="logo" /></li> -->
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="listeUtilisateurs">Liste des utilisateurs</a></li>
      <li><a routerLink="login">Connexion !</a></li>
    </ul>
  </nav>
</header>
