<div class="container-fluid">
  <h1>Connexion</h1>
  <form>
    <div class="col-md-6 mb-3">
      <label>Email : </label>
      <input
        type="email"
        placeholder="email.exemple@gmail.com"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label>Mot de passe : </label>
      <input type="password" class="form-control" />
    </div>

    <div class="ButtonEnvoie">
      <button type="submit" class="btn btn-primary submit">
        Se connecter
      </button>
    </div>
  </form>
</div>
