<div class="container-fluid">
  <h1>Connexion</h1>
  <form>
    <div class="col-md-6 mb-3">
      <label>Votre E-mail : </label>
      <input
        type="email"
        placeholder="email.exemple@gmail.com"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label>Votre mot de passe : </label>
      <input type="password" class="form-control " />
    </div>

    <div class="buttonEnvoie">
      <button type="submit" class="btn btn-primary submit connexion">
        Se connecter
      </button>
      <p class="inscri">
        Pas encore de compte ? <a routerLink="login">Cliquez ici!</a>
      </p>
    </div>
  </form>
</div>
