<div class="container-fluid">
  <h1>Connexion</h1>
  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
  <!-- <form> -->
  <div class="col-md-6 mb-3 center">
    <!-- INPUT AVEC MATERIAL ANGULAR IO -->
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="text"
        placeholder="email"
        class="form-control"
        [(ngModel)]="login"
      />
    </mat-form-field>
  </div>

  <div class="col-md-6 mb-3 center">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        class="form-control"
        placeholder="mdp"
        [(ngModel)]="mdp"
      />
    </mat-form-field>
  </div>

  <div class="buttonEnvoie">
    <button
      type="submit"
      (click)="connexion()"
      class="btn btn-primary submit connexion"
    >
      Se connecter
    </button>
    <p class="inscri">
      Pas encore de compte ? <a routerLink="../home">Cliquez ici!</a>
    </p>
  </div>
  <!-- </form> -->
</div>
