<div class="divLogo">
  <img src="../../assets/logo.png" alt="logo" class="logo" />
  <h1>Bienvenue sur le TP Angular!</h1>
  <p>
    Vous pourrez y retrouver la liste des salariés, ainsi qu'une connexion et
    une page 404
  </p>

  <div class="connexion">
    <button class="boutonConnexion">
      <a routerLink="/login" class="aConnexion">Connexion !</a>
    </button>
  </div>
  <div class="erreur404">
    <button class="boutonErreur">
      <a routerLink="/toto" class="aConnexion">Voir la page 404</a>
    </button>
  </div>
</div>
