// .liste {
//   margin-top: 1%;
//   margin-bottom: 1%;
// }

.utilisateurList {
  width: 80%;
  border: 2px solid #48c9b0;
  margin: auto;
  margin-top: 4%;
  border-radius: 10px;
  box-shadow: 8px 8px 0px #aaa;
  margin-bottom: 10%;
}

h1 {
  text-align: center;
}

.liste:nth-child(odd) {
  margin-top: 2%;
  background: rgba(197, 237, 222, 0.8);
}
